input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #F1F5F9;
    border-radius: 10px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #4F46E5;
    border: 4px solid white;
    box-shadow: 0 4px 6px -1px rgba(79, 70, 229, 0.4);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

.heading-serif {
    font-family: 'Playfair Display', serif;
}
